.search-nav{
    background-color: red;
    height: 10vh;    
}

.search-toolbar {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.upper-nav {
    padding: 1%;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    border: 3px solid #000;
    box-shadow: 24px;
    padding: 4%;
}

.locations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-drawer {
    width: 240;
    padding: 4%;
    flex-shrink: 0;
}

.MuiDrawer-paper{
    width: 240;
    box-sizing: border-box,
}