.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(https://picsum.photos/1000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-card {
    border: 5px;
    border-radius: 10%;
    box-shadow: 5px;
    background-color: blue;
}